@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*,*::after,*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{font-size: 62.5%;}
body{font-family: 'Poppins', sans-serif;}

/* utility class */
.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.btn{
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 1em;
    padding:0.5em 1.5em;
    cursor: pointer;
    outline: none;
    font-weight: 500;
    border-radius: 50px;
}
.btn1{
    color: white;
    background-color: #16a083;
    transition: color 0.3s ease-in;
}
.btn1:hover{
    color: #ff9529;
}

/* navbar */
.nav input[type='checkbox'],.nav .hamburger-lines{display: none;}
.logo{max-width: 200px;}
.logo1
{width: 30%;
padding-top: 10px;
}
.nav{
    box-shadow: 0px 5px 10px 0px #aaaaaa;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    color: black;
    opacity: 0.85;
    z-index: 999;
}
.nav-container{display: flex;
height: 64px;
justify-content: space-between;
align-items: center;
}
.menu-items{display: flex;}
.menu-items li{
    list-style: none;
    font-size: 1.8rem;
    margin-left: 1.5rem;
}
.nav a{
    color: #000000;
    text-decoration: none;
    font-weight: 500;
}
.nav a:hover{color: red;}

/* showcase style */

.showcase-area{
    height: 50vh;
    background:linear-gradient(rgba(240,240,240,0.144) , rgba(255,255,255,0.200)) , url('brooke-lark-08bOYnH_r_E-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.show-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
}
.show-container h1{
    text-transform: uppercase;
    font-weight: 1500;
}
.show-container p{text-transform: capitalize;}


/* about section */
#about{
    background-color:rgb(227, 239, 243);
    padding: 50px 0px;
}
.about1{
    display: flex;
    flex-wrap: wrap;
}
.about1 h3{font-size: 1.6rem;
color: #666666;
font-weight: 600;}
.about1 h1{font-size: 3.2rem;}
.about1 p{font-size: 1.6rem;
color: #555555;}

.about1 .a-img{
    flex: 1 1 400px;
    padding: 30px;
    transform: translateX(150%);
    animation: about-img-a 1s ease-in-out forwards;
}
@keyframes about-img-a{
    100%{transform: translate(0);}
}
.about1 .a-text{
    flex: 1 1 400px;
    padding: 30px;
    margin: auto;
    transform: translateX(-150%);
    animation: about-text-a 1s ease-in-out forwards;
}
@keyframes about-text-a{
    100%{transform: translate(0);}
}
.about1 .a-img img{ 
max-width: 100%;
display: block;
height: 400px;
margin: auto;
object-fit: cover;
object-position: right;
}


/* food category */

#food{padding: 5rem 0 10rem 0;}
#food h2{
    margin: 20px auto;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
}
.food-container{
    display: flex;
    justify-content: space-between;
}
.food-container img{
    display: block;
    width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: center;
}
.img-container{margin: 0 1rem;
position: relative;}

.img-content{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    z-index: 2;
    text-align: center;
    transition: all 0.3s ease-in-out 0.1s;
}
.img-content h3{color: #ffffff;
text-transform: capitalize;
font-size: 3rem;}
.img-content a{font-size: 1.2rem;}

.img-container::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.871);
    z-index: 1;
    transform: scaleY(0);
    transform-origin:100%  100%;
    transition: all 0.3s ease-in-out;
}
.img-container:hover::after{
    opacity: 1;
    transform: scaleY(1);
}
.img-container:hover .img-content{
    opacity: 1;
    top: 50%;
}

            /* food menu */
.head{
    text-transform: capitalize;
    text-align: center;
    margin: 20px auto;
    font-size: 3.2rem;
    font-weight: 400;
    color: #666666;
    padding-top: 80px;
}
.food-menu-container{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0 30px 0;
}
 .food-menu-item{display: flex;
flex: 1 1 600px;
justify-content: space-evenly;
margin-bottom: 3rem;
}
.food-image img{
    width: 250px;
    display: block;
    border-radius: 50%;
    height: 250px;
    object-fit: cover;
    object-position: center;
} 
.food-description{margin: auto 1.5rem;}
.food-description h2{text-transform: capitalize;
font-size: 2.2rem;}
.food-description p{font-size: 1.4rem;
font-weight: 500;}
.food-description .food-price{color: #16a083;
font-size: 1.6rem;
font-weight: 600;}



/* testimonial */
#testimonial{background-color: rgb(250,243,243);
padding-top: 80px;}
#testimonial h2{
    text-transform: capitalize;
    text-align: center;
    padding-top: 20px;
    font-size: 3rem;
    font-weight: 500;
}
.t-container{display: flex;
    justify-content: space-between;
padding-bottom: 50px;}
.t-box{
    padding: 20px;
    width: 33%;}
.star{
    text-align: center;
    margin-bottom: 10px;
    color: #ff9529;
}
#testimonial p{
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 10px;
}
.t-box img{display: block;
width: 100px;
height: 100px;
object-fit: cover;
object-position: center;
border-radius: 50%;
margin: auto;
}

/* contact */
#contact{background-color: rgb(226, 226, 226);
padding: 5rem 0;}
.contact-container{
    display: flex;
    background: #ffffff;
}
.contact-img{width: 50%;}
.contact-img img{
    display: block;
    height: 400px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.contact-form{
    padding: 1rem;
    width: 50%;
    margin: auto;
}
.contact-form input{
    display: block;
    width: 100%;
    border: none;
    padding: 1rem 0;
    border-bottom: 2px solid #ddd ;
    box-shadow: none;
    outline: none;
    margin-bottom: 1rem;
    color: #444444;
    font-weight: 500;
}
.contact-form textarea{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 1rem 0;
}
.contact-form h2{
    font-size: 3rem;
    font-weight: 400;
    color: #444444;
    margin-bottom: 1rem;
    text-transform: capitalize;
}
.contact-form a{
    font-size: 1.2rem;
}
#footer{
    background-color: #333333;
    color: white;
    padding:1rem;
    text-align: center;
}
.links i{margin: 2rem;
color: white;
font-size: 45px;}
#footer h2{
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 2rem;
}


/* media query  for responsive*/
@media(max-width: 768px){
    .nav{opacity: 0.95;}
    .nav-container input[type='checkbox'] , .nav-container .hamburger-lines{
        display: block;
    }
    .nav-container{
        display: block;
        position: relative;
        height: 64px;
    }
    .nav-container input[type='checkbox']{
        position: absolute;
        display: block;
        height: 32px;
        width: 40px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
    }
    .nav-container .hamburger-lines{
        display: block;
        height: 32px;
        width: 40px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .nav-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333333;
    }
    .nav-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }
    .nav-container .hamburger-lines .line2{
        transition: transform 0.4s ease-in-out;
    }
    .nav-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }
    .nav .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaaaaa;
    }
    .nav .menu-items li{
        margin-bottom: 3rem;
        font-size: 2rem;
        font-weight: 500;
    }
    .logo1{display: none;}
    .nav-container input[type='checkbox']:checked ~ .menu-items{
        transform: translateX(0);
    }
    .nav-container input[type='checkbox']:checked ~ .hamburger-lines .line1{transform: rotate(45deg);}
    .nav-container input[type='checkbox']:checked ~ .hamburger-lines .line2{transform:scaleY(0);}
    .nav-container input[type='checkbox']:checked ~ .hamburger-lines .line3{transform: rotate(-45deg);}

    /* food category */
    .food-container{
        flex-direction: column;
        align-items: stretch;  
    }
    .food-type:not(:last-child){
        margin-bottom: 3rem;
    }
    .food-type{box-shadow: 5px 5px 10px 0px #aaaaaa;}
    .img-container{margin: 0;}
}

/* small screen  */
@media(max-width: 500px){
    html{font-size: 50%;}
    .food-menu-item{
        flex-direction: column;
        text-align: center;}
    .food-menu-container img{margin: auto;}
    .t-container{flex-direction: column;
    width: 100%;}
    .t-box{margin: 0 auto;
    width: 100%;}
    .contact-form , .contact-img{width: 100%;}
    .contact-container{
        display: flex;
    flex-direction: column;}
}

/* landscape mode */
@media (orientation : landscape) and (max-height: 500px)
{
    .showcase-area{height: 50vmax;}
}